
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Facture</title>
        <style>
            .invoice-title h2, .invoice-title h3 {
                display: inline-block;
            }

            .table > tbody > tr > .no-line {
                border-top: none;
            }

            .table > thead > tr > .no-line {
                border-bottom: none;
            }

            .table > tbody > tr > .thick-line {
                border-top: 2px solid;
            }
        </style>
    </head>
<body>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title">
                        <h2>Invoice</h2><h3 class="pull-right">Order {{sale.0.ref}}</h3>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                            <strong>Billed To:</strong><br>
                            {{sale.0.client.firstname}} {{sale.0.client.lastname}}<br>
                            {{sale.0.client.address.nbr}} {{sale.0.client.address.street}}<br>
                            {{sale.0.client.address.codePostal}} {{sale.0.client.address.city}}<br>
                            {{sale.0.client.address.country}}
                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <address>
                            <strong>Shipped To:</strong><br>
                            {{sale.0.client.firstname}} {{sale.0.client.lastname}}<br>
                            {{sale.0.client.address.nbr}} {{sale.0.client.address.street}}<br>
                            {{sale.0.client.address.codePostal}} {{sale.0.client.address.city}}<br>
                            {{sale.0.client.address.country}}
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                <strong>Payment Method:</strong><br>
                                {{sale.0.payment.paymentMethod.type}} ending {{sale.0.payment.paymentMethod.code}}<br>
                                {{sale.0.payment.email}}
                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <address>
                                <strong>Order Date:</strong><br>
                                {{sale.0.orderDate}}<br><br>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Order summary</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td><strong>Item</strong></td>
                                            <td class="text-center"><strong>Price</strong></td>
                                            <td class="text-center"><strong>Quantity</strong></td>
                                            <td class="text-right"><strong>Totals</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for s in sale %}
                                        <tr>
                                            <td>{{ s.product.ref }}</td>
                                            <td class="text-center">{{s.product.pu}}€</td>
                                            <td class="text-center">{{s.quantity }}</td>
                                            <td class="text-right">${{ s.product.pu|mul:s.quantity }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="thick-line"></td>
                                            <td class="thick-line"></td>
                                            <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                            <td class="thick-line text-right">{{subtotal}}€</td>
                                        </tr>
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-center"><strong>Shipping</strong></td>
                                            <td class="no-line text-right">{{shipping}}€</td>
                                        </tr>
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-center"><strong>Total</strong></td>
                                            <td class="no-line text-right">{{total}}€</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>