{% extends 'index_login.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block menuauth %} 
    <li class="nav-item">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/accounts/login/">Login</a>
    </li> 
{% endblock %}
{% block main %}


<div class="col-lg-8 align-self-baseline">
    <div class="col-lg-12 align-self-end">
        <h3 class="text-uppercase text-white font-weight-bold text-center">Créer votre compte</h3>
        <hr class="divider my-4"> 
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.firstname|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.lastname|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.birth_date|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            {{ form.account_type|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
            {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
            {{ form.username|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
            {{ form.password1|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
            {{ form.password2|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
            {{ form.address_nbr|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
            {{ form.address_street|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
            {{ form.address_apprt|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
            {{ form.address_zib_code|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
            {{ form.address_city|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
            {{ form.address_country|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group offset-md-4 col-md-4 mb-0">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
        
</div>
{% endblock %}